<section class="hero">
  <h1>Contact</h1>
  <span class="sub-title">Get in Touch</span>
</section>

<div class="wrapper">
  <section class="location">
    <div class="heading">
      <h2>
        Where I'm Located
        <div class="border"></div>
      </h2>
    </div>
    <div class="map">
      <a href="https://goo.gl/maps/GgX6JgmqW9hMfiuT8" target="_blank">
        <img src="assets/Map.png">
      </a>
    </div>
  </section>
  <section class="contact-form">
    <div class="heading">
      <h2>
        How Can I Help You?
        <div class="border"></div>
      </h2>
    </div>
    <form #form="ngForm" (ngSubmit)="handleSubmit(form)">
      <div class="columns">
        <div class="column">
          <input 
            type="text" 
            [ngClass]="{'invalid': formErrors.fullName}"
            required 
            autocomplete="off" 
            placeholder="Full Name" 
            name="fullName" 
            [(ngModel)]="contactForm.fullName" 
          />
          <input 
            type="text" 
            [ngClass]="{'invalid': formErrors.emailAddress}"
            required 
            autocomplete="off" 
            placeholder="Email Address" 
            name="emailAddress" 
            [(ngModel)]="contactForm.emailAddress" 
          />
          <input 
            type="text" 
            [ngClass]="{'invalid': formErrors.subject}"
            required 
            autocomplete="off" 
            placeholder="Subject" 
            name="subject" 
            [(ngModel)]="contactForm.subject" 
          />
        </div>
        <div class="column">
          <textarea 
            type="text" 
            [ngClass]="{'invalid': formErrors.message}"
            required 
            autocomplete="off" 
            placeholder="Message" 
            name="message" 
            [(ngModel)]="contactForm.message"
          >
          </textarea>
        </div>
      </div>
      <div class="submission">
        <button type="submit" *ngIf="!(loading$ | async)">Send Message</button>
        <button type="button" disabled *ngIf="loading$ | async">Sending...</button>
        <p *ngIf="sent$ | async">Message successfully sent!</p>
        <p *ngIf="error$ | async">Please try again.</p>
      </div>
    </form>
  </section>
</div>