@import "src/variables.scss";

:host {
  display: block;
  margin-top: 40px;

  .hero {
    padding: 65px 70px;
    background: #252525;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 0 -70px 60px -70px;
    position: relative;
    
    h1 {
      font-size: 44px;
      font-weight: bold;
      line-height: 52px;
    }

    .sub-title {
      position: absolute;
      top: 20px;
      right: 70px;
      color: $font-color-tertiary;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1225px;

    section > .heading {
      display: flex;
      margin-bottom: 30px;
    
      h2 {
        font-size: 21px;
        font-weight: bold;
    
        .border {
          margin-top: 4px;
          background: $gradient;
          width: 100%;
          height: 2px;
        }
      }
    }

    .location {
      .map {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        overflow: hidden;
        background: #333;
        border-radius: 5px;
        box-shadow: 0 10px 10px -8px rgba(0,0,0,.78);
  
        img {
          display: block;
        }
      }
    }

    .contact-form {
      margin-top: 50px;

      form {
        .columns {
          display: flex;
          justify-content: space-between;
  
          .column {
            width: calc(50% - 15px);
  
            input {
              display: block;
              background: transparent;
              border: 2px solid #555;
              border-radius: 5px;
              padding: 10px;
              font: inherit;
              width: auto;
              margin-bottom: 20px;
              box-sizing: border-box;
              width: 100%;
              color: $font-color-primary;
  
              &:last-of-type {
                margin-bottom: 0;
              }
            }
  
            textarea {
              display: block;
              background: transparent;
              border: 2px solid #555;
              border-radius: 5px;
              padding: 10px;
              font: inherit;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              color: $font-color-primary;
              resize: none;
            }

            .invalid {
              border-color: #ff4e4e;
            }
          }
        }

        .submission {
          display: flex;
          align-items: center;
          margin-top: 30px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: $font-color-secondary;
            width: 160px;
            height: 44px;
            background: $gradient;
            border-radius: 24px;
            box-shadow: 0 10px 10px -8px rgba(0,0,0,.78);
  
            &:disabled {
              background: #444;
              opacity: 0.5;
              box-shadow: none;
            }
          }

          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  :host {
    margin-top: 16px;

    .hero {
      padding: 24px;
      margin: 0 -24px 40px -24px;

      h1 {
        font-size: 36px;
        line-height: 44px;
      }

      .sub-title {
        position: relative;
        top: 0;
        right: 0;
      }
    }

    .wrapper {
      > section {
        .heading {
          margin-bottom: 24px;
        }
      }

      .contact-form {
        margin-top: 24px;

        form {
          .columns {
            flex-direction: column;

            > *:first-of-type {
              margin-bottom: 20px;
            }

            .column {
              width: 100%;
            }
          }

          .submission {
            margin-top: 20px;
            justify-content: center;
          }
        }
      }
    }
  }
}