<section class="hero">
  <h1>Resume</h1>
  <span class="sub-title">4.5 Years of Experience</span>
</section>

<div class="wrapper">
  <div class="lists">
    <section class="experience">
      <div class="heading">
        <h2>
          Experience
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2019 - current</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>Software Development Engineer</h1>
          <ul>
            <li>Lead dev on writing front-end (React) for data management system used by UK train systems.</li>
            <li>Lead dev on writing full stack (React, Node) company-wide hub for various tooling such as data editing, analytics, search tools.</li>
            <li>Lead dev on writing app (React Native) for train seat selection widget.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2018 - 2019</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>App Engineer</h1>
          <ul>
            <li>Investigate issues with products that clients were experiencing by analyzing data sets.</li>
            <li>Instantiate, maintain & monitor AWS instances for clients.</li>
            <li>Develop and maintain tooling for data analyses and monitoring requirements.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2016 - 2018</span>
            </div>
            <div class="title">
              <span>Odyssey Gaming</span>
            </div>
          </div>
          <h1>Customer Support Officer</h1>
          <ul>
            <li>Monitor & maintain data feeds from state-wide clientele.</li>
            <li>Investigate issues regarding faulty software & data.</li>
            <li>Setup new Windows machines & install software.</li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="education">
      <div class="heading">
        <h2>
          Education
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2012 - 2014</span>
            </div>
            <div class="title">
              <span>Griffith University</span>
            </div>
          </div>
          <h1>Bachelor of Business</h1>
          <ul>
            <li>Majored in Human Resources management.</li>
            <li>Focused on both economical and management based courses.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2006 - 2010</span>
            </div>
            <div class="title">
              <span>High School</span>
            </div>
          </div>
          <h1>Queensland Certificate of Education</h1>
          <ul>
            <li>Was class captain of Information Technology class in 2010.</li>
            <li>Always focused on being a part of all offered Information Technology classes in school.</li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>