@import "src/variables.scss";

:host {
  display: flex;
  align-items: center;

  .logo {
    position: relative;
    font-size: 20px;
    padding-left: 48px;

    img {
      position: absolute;
      left: 0;
      top: -8px;
      width: 40px;
      height: 40px;
    }
  }

  .space {
    flex: 1;
  }

  .links {
    display: flex;
    align-items: center;
    color: $font-color-secondary;

    li {
      margin-left: 40px;
    }
  }

  @media only screen and (max-width: 900px) {
    .space, 
    .links {
      flex: none;
      display: none;
      visibility: hidden;
    }
  }
}