<a routerLink="/">
  <div class="logo">
    <img src="assets/Logo.png">
    Jacob <b>Sorrell</b>
  </div>
</a>

<ul class="links">
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/resume">Resume</a>
  </li>
  <li>
    <a routerLink="/contact">Contact</a>
  </li>
  <li>
    <a href="https://github.com/sorrelldev" target="_blank" rel="noreferrer">Github</a>
  </li>
</ul>

<button class="menu" (click)="HandleSidenav()">
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
  </svg>
</button>