@import "src/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    position: relative;
    font-size: 20px;
    padding-left: 48px;

    img {
      position: absolute;
      left: 0;
      top: -8px;
      width: 40px;
      height: 40px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    color: $font-color-secondary;

    li {
      margin-left: 40px;
    }
  }

  .menu {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 900px) {
  :host {
    .menu {
      display: flex;
      visibility: visible;
    }

    .links {
      display: none;
      visibility: hidden;
    }
  }
}