<div class="hero">
  <div class="avatar">
    <img src="assets/avatar.png" />
  </div>
  <div class="description">
    <h3>
      SOFTWARE DEVELOPMENT ENGINEER
    </h3>
    <h1>
      Jacob Sorrell
    </h1>
    <p>
      Hi, my name is Jacob and I'm a Software Development Engineer currently employed
      <br> by SilverRail. The majority of my experience resides in Front-End based work
      <br> using either Angular 2+ or React.
    </p>
    <div class="buttons">
      <button type="button">
        Download CV
      </button>
      <button type="button">
        Portfolio
      </button>
    </div>
  </div>
</div>