@import "src/variables.scss";

:host {
  display: block;
  padding-top: 100px;

  .wrapper {
    margin: 0 auto;
    max-width: 1225px;

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .avatar {
        width: 320px;
        height: 320px;
        overflow: hidden;
        border: 15px solid #333;
        box-shadow: 0 0 25px 0 rgba(0,0,0,.8);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 400px
        }
      }
  
      .description {
        margin-left: 60px;
  
        h3 {
          color: $font-color-tertiary;
          letter-spacing: 0.5px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
  
        h1 {
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 20px;
          font-weight: bold;
        }
  
        p {
          margin-bottom: 27px;
        }
  
        .buttons {
          display: flex;
          align-items: center;
  
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: $font-color-secondary;
            width: 160px;
            height: 44px;
            background: #333;
            margin-right: 10px;
            border-radius: 24px;
            box-shadow: 0 10px 10px -8px rgba(0,0,0,.78);
          }
  
          > button {
            background: $gradient;
          }
        }
      }
    }
  
    section > .heading {
      display: flex;
      margin-bottom: 30px;
    
      h2 {
        font-size: 21px;
        font-weight: bold;
    
        .border {
          margin-top: 4px;
          background: $gradient;
          width: 100%;
          height: 2px;
        }
      }
    }
  
    .what-i-do {
      margin-top: 160px;
      margin-bottom: 30px;
  
      .cards {
        display: flex;
        flex-wrap: wrap;
  
        .card {
          display: flex;
          max-width: 50%;
          margin-bottom: 30px;
  
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $gradient;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            margin-right: 40px;
          }
  
          .card-description {
            .card-heading {
              font-weight: bold;
            }
  
            p {
              padding-right: 30px;
              margin: 14px 0;
            }
          }
        }
      }
    }
  
    .fun-facts {
      margin-bottom: 30px;
      
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20%;
          background: #333;
          border: 2px solid #444;
          border-radius: 10px;
          padding: 25px 10px 15px;
  
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $gradient;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
          }
  
          h3 {
            margin: 15px 0 5px 0;
            font-weight: bold;
          }
  
          h1 {
            font-size: 48px;
            line-height: 56px;
            color: $font-color-secondary;
          }
        }
      }
    }
  }
}