<div class="hero">
  <div class="avatar">
    <img src="assets/avatar.png" />
  </div>
  <div class="description">
    <h3>
      SOFTWARE DEVELOPMENT ENGINEER
    </h3>
    <h1>
      Jacob Sorrell
    </h1>
    <p>
      Hi, my name is Jacob and I'm a Software Development Engineer currently employed
      <br> by SilverRail. The majority of my experience resides in Front-End based work
      <br> using either Angular 2+ or React.
    </p>
    <div class="buttons">
      <button type="button">
        Download CV
      </button>
      <a routerLink="/portfolio">
        <button type="button">
          Portfolio
        </button>
      </a>
    </div>
  </div>
</div>

<div class="what-i-do">
  <div class="heading">
    <h2>
      What I Do
      <div class="border"></div>
    </h2>
  </div>
  <div class="cards">
    <div class="card">
      <div class="icon">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
        </svg>
      </div>
      <div class="card-description">
        <div class="card-heading">Front-End Development</div>
        <p>
          Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M3 17.25V21H6.75L17.81 9.93L14.06 6.18L3 17.25M22.61 18.36L18.36 22.61L13.16 17.41L14.93 15.64L15.93 16.64L18.4 14.16L19.82 15.58L18.36 17L19.42 18L20.84 16.6L22.61 18.36M6.61 10.83L1.39 5.64L5.64 1.39L7.4 3.16L4.93 5.64L6 6.7L8.46 4.22L9.88 5.64L8.46 7.05L9.46 8.05L6.61 10.83M20.71 7C21.1 6.61 21.1 6 20.71 5.59L18.37 3.29C18 2.9 17.35 2.9 16.96 3.29L15.12 5.12L18.87 8.87L20.71 7Z" />
        </svg>
      </div>
      <div class="card-description">
        <div class="card-heading">Design & Implementation</div>
        <p>
          Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M8,3A2,2 0 0,0 6,5V9A2,2 0 0,1 4,11H3V13H4A2,2 0 0,1 6,15V19A2,2 0 0,0 8,21H10V19H8V14A2,2 0 0,0 6,12A2,2 0 0,0 8,10V5H10V3M16,3A2,2 0 0,1 18,5V9A2,2 0 0,0 20,11H21V13H20A2,2 0 0,0 18,15V19A2,2 0 0,1 16,21H14V19H16V14A2,2 0 0,1 18,12A2,2 0 0,1 16,10V5H14V3H16Z" />
        </svg>
      </div>
      <div class="card-description">
        <div class="card-heading">Back-End Development</div>
        <p>
          Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M22,14H20V16H14V13H16V11H14V6A2,2 0 0,0 12,4H4V2H2V10H4V8H10V11H8V13H10V18A2,2 0 0,0 12,20H20V22H22" />
        </svg>
      </div>
      <div class="card-description">
        <div class="card-heading">Development Operations (DevOps)</div>
        <p>
          Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt turpis turpis tempus ex.
        </p>
      </div>
    </div>
  </div>
</div>