@import "src/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 45px;
  background: #252525;
  border-top: 2px solid #333;
  font-size: 14px;
  margin: 60px -70px -70px -140px;

  .socials {
    color: $font-color-tertiary;
  }

  .copyrights {
    color: $font-color-secondary;
  }
}