@import "src/variables.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 45px;
  background: #252525;
  border-top: 2px solid #333;
  font-size: 14px;
  margin: 105px -70px -60px -70px;

  .socials {
    color: $font-color-tertiary;
  }

  .copyrights {
    color: $font-color-secondary;
  }
}

@media only screen and (max-width: 900px) {
  :host {
    margin: 40px -24px -60px -24px;
    padding: 16px 24px;
  }
}