<section class="hero">
  <h1>Resume</h1>
  <span class="sub-title">5 Years of Experience</span>
</section>

<div class="wrapper">
  <div class="lists">
    <section class="experience">
      <div class="heading">
        <h2>
          Experience
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2021 - Current</span>
            </div>
            <div class="title">
              <span>Covetrus</span>
            </div>
          </div>
          <h1>Frontend Developer</h1>
          <ul>
            <li>Develop the front-end of a modern Angular application using Typescript.</li>
            <li>Manage work tasks and sprints via Microsoft Azure.</li>
            <li>Attend design meetings and give input on new features.</li>
            <li>Participate in various meetings including stand-ups, retrospectives, design workshops & sprint planning.</li>
            <li>Mentor & guide new front-end developers that join the team.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2020 - 2021</span>
            </div>
            <div class="title">
              <span>Synerty</span>
            </div>
          </div>
          <h1>Frontend Developer</h1>
          <ul>
            <li>Improve and maintain both Angular and TypeScript front-end source code, and Python back-end source code.</li>
            <li>Build, test and deploy new product releases to client production environments, managing the entire DevOps process along the way.</li>
            <li>Maintain, improve and create documentation, tutorials and READMEs for company products and repositories.</li>
            <li>Lead development team stand-up meetings as scrum master and manage fortnightly sprint tasks.</li>
            <li>Conduct meetings with clients discussing project planning and handling deadlines for product releases.</li>
            <li>Upgrade and refactor outdated front-end source code to the latest technological standards.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2018 - 2020</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>Software Development Engineer</h1>
          <ul>
            <li>Develop, configure and code high-quality full-stack applications that are secure, sustainable, cost efficient from an operational perspective and meet business needs.</li>
            <li>Responsible for managing and implementing regular front-end and back-end product releases and upgrades.</li>
            <li>Maintenance of JavaScript & c# source code in shared source code repositories.</li>
            <li>Maintain a strong up-to-date understanding of the major web development frameworks, including React and Angular.</li>
            <li>Work under a fortnightly AGILE sprint cycle that includes planning, backlog, daily meetings, and reviews.</li>
            <li>Develop and maintain various AWS services, including Node.js Lambdas and API Gateways.</li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="education">
      <div class="heading">
        <h2>
          Education
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2012 - 2014</span>
            </div>
            <div class="title">
              <span>Griffith University</span>
            </div>
          </div>
          <h1>Bachelor of Business</h1>
          <ul>
            <li>Majored in Human Resources management.</li>
            <li>Focused on both economics and management based courses.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2006 - 2010</span>
            </div>
            <div class="title">
              <span>High School</span>
            </div>
          </div>
          <h1>Queensland Certificate of Education</h1>
          <ul>
            <li>Was class captain of Information Technology class in 2010.</li>
            <li>Always focused on being a part of all offered Information Technology classes in school.</li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>