<section class="hero">
  <h1>Resume</h1>
  <span class="sub-title">4.5 Years of Experience</span>
</section>

<div class="wrapper">
  <div class="lists">
    <section class="experience">
      <div class="heading">
        <h2>
          Experience
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2019 - current</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>Software Development Engineer</h1>
          <ul>
            <li>Develop, configure and code high-quality full-stack applications that are secure, sustainable, cost efficient from an operational perspective and meet business needs.</li>
            <li>Responsible for managing and implementing regular front-end and back-end product releases and upgrades.</li>
            <li>Maintenance of JavaScript & c# source code in shared source code repositories.</li>
            <li>Maintain a strong up-to-date understanding of the major web development frameworks, including React and Angular.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2018 - 2019</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>App Engineer</h1>
          <ul>
            <li>Work with customers to resolve escalations and implement elements of the escalation program strategy.</li>
            <li>Provide root cause analysis and participate in meetings with senior team members from other operational divisions as well as engineering and product teams.</li>
            <li>Propose preventative measures, process enhancements, and improved tool functionality.</li>
            <li>Identify, analyse and interpret trends, insights and patterns in complex data sets.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2016 - 2018</span>
            </div>
            <div class="title">
              <span>Odyssey Gaming</span>
            </div>
          </div>
          <h1>Customer Support Officer</h1>
          <ul>
            <li>Handling of escalated customer complaints and inquiries from various channels.</li>
            <li>Troubleshooting and servicing IT related issues regarding software, hardware and networking installations.</li>
            <li>Adapting to changes throughout the day to suit the needs of the business, frequently reprioritising tasks and deadlines.</li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="education">
      <div class="heading">
        <h2>
          Education
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2012 - 2014</span>
            </div>
            <div class="title">
              <span>Griffith University</span>
            </div>
          </div>
          <h1>Bachelor of Business</h1>
          <ul>
            <li>Majored in Human Resources management.</li>
            <li>Focused on both economics and management based courses.</li>
          </ul>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2006 - 2010</span>
            </div>
            <div class="title">
              <span>High School</span>
            </div>
          </div>
          <h1>Queensland Certificate of Education</h1>
          <ul>
            <li>Was class captain of Information Technology class in 2010.</li>
            <li>Always focused on being a part of all offered Information Technology classes in school.</li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</div>