@import "src/variables.scss";

:host {
  display: block;
  margin-top: 40px;

  .hero {
    padding: 65px 70px;
    background: #252525;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 0 -70px 60px -70px;
    position: relative;
    
    h1 {
      font-size: 44px;
      font-weight: bold;
      line-height: 52px;
    }

    .sub-title {
      position: absolute;
      top: 20px;
      right: 70px;
      color: $font-color-tertiary;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1225px;

    section > .heading {
      display: flex;
      margin-bottom: 30px;
    
      h2 {
        font-size: 21px;
        font-weight: bold;
    
        .border {
          margin-top: 4px;
          background: $gradient;
          width: 100%;
          height: 2px;
        }
      }
    }

    .lists {
      display: flex;
      justify-content: space-between;

      > section {
        width: calc(50% - 30px);

        .cards {

          .card {
            padding: 10px 0 25px 25px;
            border-left: 1px solid #333;
            border-bottom: 1px solid #333;

            &:not(:first-of-type)
            {
              padding-top: 25px;
            }

            &:last-of-type {
              border-bottom: none;
            }

            .header {
              display: flex;
              align-items: center;
              margin-left: -45px;
              margin-bottom: 15px;

              .date {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 24px;
                padding: 5px 10px;
                background: $gradient;
                
                span {
                  font-weight: bold;
                  font-size: 14px;
                }
              }

              .title {
                color: $font-color-tertiary;
                opacity: 0.7;
                margin-left: 10px;
              }
            }

            > h1 {
              font-weight: bold;
              margin-bottom: 10px;
            }

            ul {
              list-style-type: disc;
              margin-left: 15px;

              li {
                margin: 5px 0 0 0;
                color: $font-color-secondary;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  :host {
    margin-top: 16px;

    .hero {
      padding: 24px;
      margin: 0 -24px 40px -24px;

      h1 {
        font-size: 36px;
        line-height: 44px;
      }

      .sub-title {
        position: relative;
        top: 0;
        right: 0;
      }
    }

    .wrapper {
      .lists {
        flex-direction: column;

        > *:first-of-type {
          margin-bottom: 24px;
        }

        > section {
          width: 100%;

          .heading {
            margin-bottom: 24px;
          }

          .cards {
            .card {
              .header {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}