<section class="hero">
  <h1>Resume</h1>
  <span class="sub-title">3.5 Years of Experience</span>
</section>

<div class="wrapper">
  <div class="lists">
    <section class="experience">
      <div class="heading">
        <h2>
          Experience
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2019 - current</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>Software Development Engineer</h1>
          <p>
            Duis posuere, quam non imperdiet egestas, eros enim mattis mauris, in posuere lacus arcu quis felis. Etiam interdum erat non enim venenatis fermentum.
          </p>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2018 - 2019</span>
            </div>
            <div class="title">
              <span>SilverRail</span>
            </div>
          </div>
          <h1>App Engineer</h1>
          <p>
            Duis posuere, quam non imperdiet egestas, eros enim mattis mauris, in posuere lacus arcu quis felis. Etiam interdum erat non enim venenatis fermentum.
          </p>
        </li>
      </ul>
    </section>
    <section class="education">
      <div class="heading">
        <h2>
          Education
          <div class="border"></div>
        </h2>
      </div>
      <ul class="cards">
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2012 - 2014</span>
            </div>
            <div class="title">
              <span>Griffith University</span>
            </div>
          </div>
          <h1>Bachelor of Business</h1>
          <p>
            Duis posuere, quam non imperdiet egestas, eros enim mattis mauris, in posuere lacus arcu quis felis. Etiam interdum erat non enim venenatis fermentum.
          </p>
        </li>
        <li class="card">
          <div class="header">
            <div class="date">
              <span>2006 - 2010</span>
            </div>
            <div class="title">
              <span>High School</span>
            </div>
          </div>
          <h1>Queensland Certificate of Education</h1>
          <p>
            Duis posuere, quam non imperdiet egestas, eros enim mattis mauris, in posuere lacus arcu quis felis. Etiam interdum erat non enim venenatis fermentum.
          </p>
        </li>
      </ul>
    </section>
  </div>
</div>