@import "src/variables.scss";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #222;
  color: $font-color-primary;
  padding: 40px 70px 60px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p {
  color: $font-color-secondary;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: inherit;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0px;
  font: inherit;
  padding: 0px;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

svg {
  width: 24px;
  height: 24px;
}

*:focus {
  outline: 0 !important;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 24px 24px 60px 24px;
  }
}